.login-page {
    max-width: 350px;
    margin: 60px;
    position: relative;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-val {
    margin-top: 10px;
  }

  .data{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    padding: 40px; 
  } 